*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  max-height: 100vh;
}
#pro-phone{
  margin: 4em auto 0 auto;;
  width: 80%;
  display: flex;
  flex-direction: row;
}
#pro-phone p{
  margin: 4em auto 0 auto;
  justify-content: space-between;
}

#intro{
  margin:0 auto 2em auto;
  background-image: url("https://images.unsplash.com/photo-1601160458000-2b11f9fa1a0e?ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
     width: 80%;
     display: flex;
   
     justify-content: space-evenly;
     align-items: center;
     padding: 1rem;
}

#intro-text{
  margin: 3rem;
  padding: 1rem;
  width: 500px;
  text-align: center;
}

.desc1{
  font-size: 15px;
  padding: 4em 0;
  color: rgb(255, 255, 255);
}
.desc1 span{
  font-size: 40px;
}
#intro-form{
  background:rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  zoom: 1;
  width: 40%;
  padding: 1rem;
  text-align: center;
  margin:2em 3em;
  
}
.form-text{
  font-size: 15px;
  padding: 2em 0;
  color: rgb(241, 241, 241);
  margin-left: 2em;
}
.form-text span{
  font-size: 25px;
}
input{
  width: 80%;
  height: 2.5em;
  margin-left: 2em;
  margin-bottom: 1em;
  border-radius: 5px;
}
button{
  width: 80%;
  font-size: 15px;
  background-color: rgb(74, 173, 74);
  height: 2.5em;
  margin-left: 2em;
  border-radius: 5px;
}
#qualities{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.desc2{
 width: 15rem;
 height: 14rem;
 margin: 1rem;
 padding: 1rem;
 transition: all .5s ease;
}
.desc2 p{ 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.desc2 span{
font-size: 15px;
font-weight: bolder;
}
#clients{
  background-color: rgb(226, 226, 226);
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin:  auto;
  text-align: center;
}
.client{
 width: 15rem;
 height: 18rem;
 margin: 1rem;
 padding: 1rem;
 transition: all .5s ease;
}
.client img{
  height: 15vh;
  border-radius: 50%;
}
.client p{
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin-top:1em ;
  display: block;
  
}
.client span{
  font-style: normal;
  font-size: 12px;
  display: block;
 
}
.star{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
footer{
  margin: auto;
  margin-bottom: 2em;
  height: 8vh;
  max-width: 80%;
  background-color: rgb(58, 57, 57);
}
footer p{
  font-size: 11px;
 text-align: center;
 color: azure;
 padding-top: 2em;
}
@media screen and (max-width:800px) {
  #intro{
    flex-wrap: wrap; 
  }
  #intro-form{
    width: 100%;
    margin: 1em;
  }
}
