*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  max-height: 100vh;
}
#pro-phone{
  margin: 4em auto 0 auto;;
  width: 80%;
  display: flex;
  flex-direction: row;
}
#pro-phone p{
  margin: 4em auto 0 auto;
  justify-content: space-between;
}

#intro{
  margin:0 auto 2em auto;
  background-image: url("https://images.unsplash.com/photo-1601160458000-2b11f9fa1a0e?ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: row;
}

#intro-text{
  width: 50%;
  padding:4em 4em;
}

.desc1{
  font-size: 15px;
  padding: 4em 0;
  color: rgb(255, 255, 255);
}
.desc1 span{
  font-size: 40px;
}
#intro-form{
  background:rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
  float: left;
  zoom: 1;
  width: 40%;
  margin:2em 3em;
  
}
.form-text{
  font-size: 15px;
  padding: 2em 0;
  color: rgb(241, 241, 241);
  margin-left: 2em;
}
.form-text span{
  font-size: 25px;
}
input{
  width: 80%;
  height: 2.5em;
  margin-left: 2em;
  margin-bottom: 1em;
  border-radius: 5px;
}
button{
  width: 80%;
  font-size: 15px;
  background-color: rgb(74, 173, 74);
  height: 2.5em;
  margin-left: 2em;
  border-radius: 5px;
}
#qualities{
  margin:  auto;
  height: 30vh;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.desc2{
  width: 10em;
  height: 4em;
 float: left;
 clear: both;
 margin:0 auto 2em auto;
 padding:0 3em;
}
.desc2 p{
  width: 15em;
  font-size: 11px;
 
}

.desc2 span{
font-size: 15px;
font-weight: bolder;
}
#clients{
  background-color: rgb(226, 226, 226);
  margin: auto;
  height: 70vh;
  max-width: 80%;
  display: flex;
  flex-direction: row;
}
.client{
  margin: auto;
  width: 30%;
}
.client img{
  height: 15vh;
  margin-left: 5em;
  border-radius: 50%;
}
.client p{
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin-top:1em ;
}
.client span{
  font-style: normal;
  margin-left: 8em;
  font-size: 12px;
  margin-bottom: 1em;
}
.star{
  margin-left: 5em;
  margin-top: 2em;
}
footer{
  
  margin: auto;
  margin-bottom: 2em;
  height: 8vh;
  max-width: 100%;
  background-color: rgb(58, 57, 57);
}
footer p{
  font-size: 11px;
 text-align: center;
 color: azure;
 padding-top: 2em;
}
@media screen and (max-width: 1000px) {
  #intro{
    background-image: url("https://images.unsplash.com/photo-1584378834085-0aa159117f9b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGNsZWFuaW5nJTIwc3VwcGx5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    display: block;
    flex-direction: column;
    margin: 2em;
  }
  #intro-text{
    width: 70%;
    padding:3em 3em 2em 2em;
  }
  .desc1{
    display: block;
    font-size: 15px;
   
  }
  .desc1 span{
    font-size: 30px;
  }
  #intro-form{
    display: block;
    /* clear: both; */
    margin-top: 1em;
    width: 80%;
    ;
  }
  #qualities{
    display: block;
    height: 15vh;
    flex-direction: column;
   
  }
  .desc2{
    width: 80%;
    height: 7em;
    margin: 2em 5em;
   padding:1em 3em;
  }
  .desc2 p{
    display: block;
    width: 50%;
    font-size: 12px;
   
  }
  
  .desc2 span{
  font-size: 15px;
  font-weight: bolder;
  }
  #clients{
    margin-top: 2em;
    flex-direction: column;
    height: 120vh;
    width: 80%;
   padding:1em 3em;
  }
  .client{
    margin-top: 2em;
    width: 30%;
    
  }
  .client img{
    height: 15vh;
    margin: auto;
    border-radius: 50%;
  }
  .client p{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin-top:1em ;
  }
  .client span{
    font-style: normal;
    margin: auto;
    font-size: 12px;
    margin-bottom: 1em;
  }
  .star{
    margin: 2em 0.025em;
    display: flex;
  }
  footer{
    display: block;
    width: 80%;
  }
  
}